VITE_SUPABASE_URL=https://zenpclsjumslwuivbfmz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplbnBjbHNqdW1zbHd1aXZiZm16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4OTAxNTksImV4cCI6MjA5MzQ2NjE1OX0.vgp3E8NrAVsDa5_Z0huSEprvUPjt_xUe_zKI80dAU_Q
